<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key><string>com.cangcang.touchtest</string>
    <key>ProgramArguments</key>
    <array><string>/usr/bin/touch</string><string>/tmp/launchd_test_done</string></array>
    <key>RunAtLoad</key><true/>
</dict>
</plist>
